In [1]:
import re
import string
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train_reddit=pd.read_json("reddit_jokes.json")
train_stupid=pd.read_json("stupidstuff.json")
train_wocha=pd.read_json("wocka.json")

In [3]:
train_reddit.head()

,body,id,score,title
0,"Now I have to say ""Leroy can you please paint ...",5tz52q,1,I hate how you cant even say black paint anymore
1,Pizza doesn't scream when you put it in the ov...,5tz4dd,0,What's the difference between a Jew in Nazi Ge...
2,...and being there really helped me learn abou...,5tz319,0,I recently went to America....
3,A Sunday school teacher is concerned that his ...,5tz2wj,1,"Brian raises his hand and says, “He’s in Heaven.”"
4,He got caught trying to sell the two books to ...,5tz1pc,0,You hear about the University book store worke...

In [4]:
train_stupid.head()

                                                body      category  id  rating
0  A blackjack dealer and a player with a thirtee...      Children   1    2.63
1  At a dinner party, several of the guests were ...  Blonde Jokes   2    2.57
2  One day this cop pulls over a blonde for speed...  Blonde Jokes   3    3.09
3  Three women are about to be executed for crime...  Blonde Jokes   4    4.10
4  A girl came skipping home FROM school one day....  Blonde Jokes   5    4.30

In [5]:
train_wocha.head()

,body,category,id,title
0,What do you call a cow with no legs?\r\n\r\nGr...,Animal,1,Cow With No Legs
1,What do you call a cow jumping over a barbed w...,Animal,2,Jumping Cow
2,What's black and white and red all over?\r\n\r...,Other / Misc,4,"Black, White and Red"
3,"So, this guy walks into a bar.\r\n\r\nAnd says...",Bar,5,Guy in a Bar
4,"If the opposite of pro is con, isn't the oppos...",One Liners,6,Progress

In [6]:
def clean_text(s):
    s = s.lower()
    for ch in string.punctuation:                                                                                                     
        s = s.replace(ch, " ") 
    s = re.sub("[0-9]+", "||DIG||",s)
    s = re.sub(' +',' ', s)        
    return s

In [7]:
train_wocha['clean_body'] = [clean_text(s) for s in train_wocha['body']]

In [8]:
train_wocha.loc[train_wocha["category"]=="Animal",:].head(n=10)

,body,category,id,title,clean_body
0,What do you call a cow with no legs?\r\n\r\nGr...,Animal,1,Cow With No Legs,what do you call a cow with no legs \r\n\r\ngr...
1,What do you call a cow jumping over a barbed w...,Animal,2,Jumping Cow,what do you call a cow jumping over a barbed w...
40,Did you hear the one about the Polish wolf?\r\...,Animal,44,Polish Wolf,did you hear the one about the polish wolf \r\...
42,"A termite walks into a bar and asks, ""Is the b...",Animal,46,Termit,a termite walks into a bar and asks is the bar...
49,"A veterinarian surgeon had a bad day, but when...",Animal,56,Cat Calls,a veterinarian surgeon had a bad day but when ...
52,What do you call a donkey with one leg?\r\nA w...,Animal,59,The Donkey,what do you call a donkey with one leg \r\na w...
63,Two cows were standing next to each other in a...,Animal,70,Two Cows,two cows were standing next to each other in a...
64,Two fish swim into a concrete wall. One turns ...,Animal,71,Concrete Wall,two fish swim into a concrete wall one turns t...
71,What do you call a blind deer?\r\n\r\nNo idea ...,Animal,78,The Deer,what do you call a blind deer \r\n\r\nno idea ...
73,A duck walked into a store one day and asked t...,Animal,80,Duck and Grapes,a duck walked into a store one day and asked t...